

body{background-color: rgb(144, 178, 206); margin: 0 auto;}


h1{text-align:center; color: rgb(255, 255, 255);
     font-size: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  letter-spacing: 2px; display: flex; flex-wrap: wrap;}


      .err15{width: 100%; background-color: rgb(255, 255, 255);
          display: flex ;flex-wrap: wrap;justify-content: center; color: aliceblue;}
      
     
      
.etr2{width: 100%; height: 100px; background-color: rgb(39, 60, 119); position: fixed;display: flex; justify-content: space-evenly; align-items: center;}



.etr3{width: 200px; height: 50px; background-color: rgb(168, 220, 255); 
    border: 2px solid rgb(91, 117, 151); text-align: center; 
    font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(63, 47, 119); }

.etr4{width: 200px; height: 50px; background-color: rgb(168, 216, 255);
border: 2px solid rgb(91, 124, 151);
font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(54, 47, 119); text-align: center;}

.etr5{width: 200px; height: 50px; background-color: rgb(168, 223, 255);
border: 2px solid rgb(91, 115, 151);
font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(58, 47, 119); text-align: center;}


.eww1{width: 500px; height: 750px; background-color: rgb(255, 255, 255); border: 1.5px solid rgb(194, 194, 194); margin: 0 auto; float: left;}
.eww7{width: 95%; height: 95%; background-color: rgb(255, 255, 255); margin-left: 12px; }
.eq{width: 100%; height: 100%;}
.eww2{width: 100%; height: 50%;}
.eww4{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(73, 155, 187); font-size: 30px;}



.eww5{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px;
    color: rgb(123, 166, 196);}

.eww6{width: 100%; height: 150px; background-color: rgb(171, 214, 255); }
.eww8{width: 100%; height: 40px; background-color: rgb(255, 255, 255);color: rgb(139, 139, 139); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; float: left;}

    .eww9{width: 50%; height: 70px; background-color: rgb(74, 126, 173);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 7%; margin-left: 25% ;}
    .eww10{width: 100%; height: 50px; background-color: rgb(70, 109, 168);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;}





   

    .www1{width: 500px; height: 750px; background-color: rgb(255, 255, 255); border: 1.5px solid rgb(194, 194, 194); margin: 0 auto; float: left;}
.www7{width: 95%; height: 95%; background-color: rgb(255, 255, 255); margin-left: 12px; }
.wq{width: 100%; height: 100%;}
.www2{width: 100%; height: 50%;}
.www4{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(73, 155, 187); font-size: 30px;}



.www5{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px;
    color: rgb(123, 166, 196);}

.www6{width: 100%; height: 150px; background-color: rgb(171, 214, 255); }
.www8{width: 100%; height: 40px; background-color: rgb(255, 255, 255);color: rgb(139, 139, 139); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; float: left;}

    .www9{width: 50%; height: 70px; background-color: rgb(74, 126, 173);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 7%; margin-left: 25% ;}
    .www10{width: 100%; height: 50px; background-color: rgb(70, 109, 168);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;}
   


     .sww1{width: 500px; height: 750px; background-color: rgb(255, 255, 255); border: 1.5px solid rgb(194, 194, 194); margin: 0 auto; float: left;}
.sww7{width: 95%; height: 95%; background-color: rgb(255, 255, 255); margin-left: 12px; }
.sq{width: 100%; height: 90%;}
.sww2{width: 100%; height: 50%;}
.sww4{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(73, 155, 187); font-size: 30px;}



.sww5{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px;
    color: rgb(123, 166, 196);}

.sww6{width: 100%; height: 150px; background-color: rgb(171, 214, 255); }
.sww8{width: 100%; height: 40px; background-color: rgb(255, 255, 255);color: rgb(139, 139, 139); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; float: left;}

    .sww9{width: 50%; height: 70px; background-color: rgb(74, 126, 173);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 7%; margin-left: 25% ;}
    .sww10{width: 100%; height: 50px; background-color: rgb(70, 109, 168);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;}
    
    

    .pww1{width: 500px; height: 750px; background-color: rgb(255, 255, 255); border: 1.5px solid rgb(194, 194, 194); margin: 0 auto; float: left;}
.pww7{width: 95%; height: 95%; background-color: rgb(255, 255, 255); margin-left: 12px; }
.pq{width: 100%; height: 110%;}
.pww2{width: 100%; height: 50%;}
.pww4{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(73, 155, 187); font-size: 30px;}



.pww5{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px;
    color: rgb(123, 166, 196);}

.pww6{width: 100%; height: 150px; background-color: rgb(171, 214, 255); }
.pww8{width: 100%; height: 40px; background-color: rgb(255, 255, 255);color: rgb(139, 139, 139); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; float: left;}

    .pww9{width: 50%; height: 70px; background-color: rgb(74, 126, 173);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 7%; margin-left: 25% ;}
    .pww10{width: 100%; height: 50px; background-color: rgb(70, 109, 168);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;}




     .lww1{width: 500px; height: 750px; background-color: rgb(255, 255, 255); border: 1.5px solid rgb(194, 194, 194); margin: 0 auto; float: left;}
.lww7{width: 95%; height: 95%; background-color: rgb(255, 255, 255); margin-left: 12px; }
.lq{width: 100%; height: 100%;}
.lww2{width: 100%; height: 50%;}
.lww4{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(73, 155, 187); font-size: 30px;}



.lww5{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px;
    color: rgb(123, 166, 196);}

.lww6{width: 100%; height: 150px; background-color: rgb(171, 214, 255); }
.lww8{width: 100%; height: 40px; background-color: rgb(255, 255, 255);color: rgb(139, 139, 139); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; float: left;}

    .lww9{width: 50%; height: 70px; background-color: rgb(74, 126, 173);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 7%; margin-left: 25% ;}
    .lww10{width: 100%; height: 50px; background-color: rgb(70, 109, 168);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;}


     .kww1{width: 500px; height: 750px; background-color: rgb(255, 255, 255); border: 1.5px solid rgb(194, 194, 194); margin: 0 auto; float: left;}
.kww7{width: 95%; height: 95%; background-color: rgb(255, 255, 255); margin-left: 12px; }
.kq{width: 100%; height: 110%;}
.kww2{width: 100%; height: 50%;}
.kww4{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(73, 155, 187); font-size: 30px;}



.kww5{width: 100%; height: 100px; background-color: rgb(255, 255, 255);
     text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px;
    color: rgb(123, 166, 196);}

.kww6{width: 100%; height: 150px; background-color: rgb(171, 214, 255); }
.kww8{width: 100%; height: 40px; background-color: rgb(255, 255, 255);color: rgb(139, 139, 139); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; float: left;}

    .kww9{width: 50%; height: 70px; background-color: rgb(74, 126, 173);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 7%; margin-left: 25% ;}
    .kww10{width: 100%; height: 50px; background-color: rgb(70, 109, 168);color: rgb(255, 255, 255); 
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;}